<mat-card>

        <mat-card-content>
    
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="form-inline my-2 my-lg-0">

                          

                                <div class="input-group mb-1 mat-input-search">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Search By:</label>
                                    </div>
                                    <select class="custom-select" 
                                     id="inputGroupSelect01">
                                      <option>
                                      </option>
                                    </select>
                                  </div>
  
                              <input class="form-control mr-sm-2"  type="search" placeholder="Search">
                              
                             <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                            
                            </div> 
                      
                        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                 
    
                            <div class="col-md-12">
                                    <button class="btn btn-primary my-2 my-sm-0 pull-right" type="submit">Add Department</button>
    
    
                            </div>
    
    
                         
                        </div>
                      </nav>
    
                      <mat-tab-group class="mt-4" color="accent" backgroundColor="accent" mat-align-tabs="start">
    
           
                                <mat-tab label="Department List ">
            
                                        <div class="col-md-12 mt-3">
                                                <b> <p> List of Departments  Below;</p> </b>
             
                                         </div>
            
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                  
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Surname</th>
                                                    <th scope="col">Contact</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">View/Edit</th>
                                                    <th scope="col">Delete</th>
            
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th >1</th>
                                                    <td scope="row">Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>@fat</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">3</th>
                                                    <td>Larry</td>
                                                    <td>the Bird</td>
                                                    <td>@twitter</td>
                                                  </tr>
                                                </tbody>
                                              </table>
            
                                </mat-tab>
                              </mat-tab-group>
    
            </mat-card-content>
    
            </mat-card>