<mat-card>

    <mat-card-content>

            <mat-tab-group color="accent" backgroundColor="accent" mat-align-tabs="start">

              <!-- Patient Appointments Below-->
              <mat-tab label="Appointments">

                <div class="mt-3">

                </div>
                  <nav>
                      <button class="btn btn-primary"> Add Appointment</button> 
                    </nav>

                  <div class="row mt-3">


                      <div class="col-md-4 ">
                              <p class="headings"> Select Date; </p>
                              <mat-form-field  appearance="outline" class="example-full-width">
                                  <mat-label>Appointment Date:</mat-label>
                                  <input matInput (dateChange)="appointmentDateDetection($event)" [matDatepicker]="appointmentPicker">
                                  <mat-datepicker-toggle matSuffix [for]="appointmentPicker"></mat-datepicker-toggle>
                                  <mat-datepicker  #appointmentPicker></mat-datepicker>
                                </mat-form-field>
                      </div>

                      <div class="col-md-6">

                              <p class="headings"> Search by Surname Below; </p>

                              <mat-form-field appearance="outline">
                                      <mat-label>Seaching by Surname:</mat-label>
                                      <input matInput [(ngModel)]="kinEmail" >
                                    </mat-form-field>

                      </div>

              </div>
        
                  <div class="col-md-12 mt-3">
                          <b> <p class="headings"> List of Appointments Below;</p> </b>

                   </div>

                  <table class="table">
                          <thead>
                            <tr>
                            
                              <th scope="col">First Name</th>
                              <th scope="col">Surname</th>
                              <th scope="col">Contact</th>
                              <th scope="col">Email</th>
                              <th scope="col">View/Edit</th>
                              <th scope="col">Delete</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th >1</th>
                              <td scope="row">Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>

              </mat-tab>
            

                <!-- Adding Patient Details below -->
                    <mat-tab label="Patient Details">

                        <mat-tab-group color="accent" backgroundColor="warn" mat-align-tabs="start">

                          <mat-tab label="Add Patient">

                              <div class="row">

                                  <div class="col-md-12 mt-3">
                                         <b> <p class="headings"> Creating Patient Below;</p> </b>
      
                                  </div>
      
                                  <div class="col-md-6 mt-4 mb-5">
      
                                      <p class="headings"> Unique Number </p>
                                          <mat-form-field appearance="outline">
                                                  <mat-label>Patient ID:</mat-label>
                                                  <input matInput disabled [(ngModel)]="patientID" >
                                                </mat-form-field>
      
                                                <p class="headings"> Patient Department </p>
                                                <mat-form-field appearance="outline" class="mat-input-wrapper">
                                                  <mat-label>Choose Department:</mat-label>
                                                  <mat-select [(value)]="patientDepartmentSelect">
                                                    <mat-option *ngFor="let p of patientDepartments" [value]="p.value">
                                                      {{p.value}}
                                                    </mat-option>
                                                  </mat-select>
                                                </mat-form-field>
      
      
      <p class="headings"> Patient Details </p>
                                                  <mat-form-field appearance="outline">
                                                    <mat-label>First Name:</mat-label>
                                                    <input matInput [(ngModel)]="patFname">
                                                  </mat-form-field>
                                                
                                                  <mat-form-field appearance="outline">
                                                          <mat-label>Surname:</mat-label>
                                                          <input matInput [(ngModel)]="patSurname">
                                                        </mat-form-field>
      
      
                                                        <mat-form-field appearance="outline">
                                                              <mat-label>Middle Name:</mat-label>
                                                              <input matInput [(ngModel)]="patMiddleName">
                                                            </mat-form-field>
      
                                                            <mat-label> Contact Number:</mat-label>
                                                                        <form #f="ngForm" [formGroup]="phonePatForm">
                                                                          <div class="mb-2">
                                                                            <ngx-intl-tel-input
                                                                              [inputId]="'asdsasd'"
                                                                              [cssClass]="'custom'" 
                                                                              [enableAutoCountrySelect]="false" 
                                                                              [enablePlaceholder]="true" 
                                                                              [searchCountryFlag]="true"
                                                                              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                                              [selectFirstCountry]="false" 
                                                                              [maxLength]="15" 
                                                                              [tooltipField]="TooltipLabel.Name" 
                                                                              [phoneValidation]="true" 
                                                                              [separateDialCode]="separateDialCode"
                                                                              name="phone" formControlName="phone">
                                                                            </ngx-intl-tel-input>
                                                                          </div>
                                                                         
                                                                        </form>
      
                                                            <mat-form-field appearance="outline">
                                                                  <mat-label>Email:</mat-label>
                                                                  <input matInput [(ngModel)]="patEmail">
                                                                </mat-form-field>
      
                                                                <mat-form-field  appearance="outline" class="example-full-width">
                                                                      <mat-label>Date of Birth:</mat-label>
                                                                      <input matInput (dateChange)="onDOBDetection($event)" [matDatepicker]="picker">
                                                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                      <mat-datepicker  #picker></mat-datepicker>
                                                                    </mat-form-field>
                                                                    
      
      
                                                                    <mat-form-field appearance="outline">
                                                                          <mat-label>Age:</mat-label>
                                                                          <input matInput type="number" [(ngModel)]="patAge">
                                                                    </mat-form-field>  
                                                                    
                                                                    <mat-form-field appearance="outline" class="mat-input-wrapper">
                                                                        <mat-label>Blood Group:</mat-label>
                                                                        <mat-select [(value)]="selectedBloodGroup">
                                                                          <mat-option *ngFor="let p of bloodGroups" [value]="p.value">
                                                                            {{p.value}}
                                                                          </mat-option>
                                                                        </mat-select>
                                                                      </mat-form-field>
      
                                                                      <mat-form-field appearance="outline" class="mat-input-wrapper">
                                                                          <mat-label>Marital Status:</mat-label>
                                                                          <mat-select [(value)]="marit">
                                                                            <mat-option *ngFor="let p of maritalStatus" [value]="p.value">
                                                                              {{p.value}}
                                                                            </mat-option>
                                                                          </mat-select>
                                                                        </mat-form-field>
      
                                                               
      
                                                                          <mat-form-field appearance="outline" class="example-full-width">
                                                                              <mat-label>Allergies</mat-label>
                                                                              <textarea matInput [(ngModel)]="patAllergies"></textarea>
                                                                            </mat-form-field>
      
                                                                            <mat-form-field appearance="outline" class="example-full-width">
                                                                                <mat-label>Remarks</mat-label>
                                                                                <textarea matInput [(ngModel)]="patRemarks" ></textarea>
                                                                              </mat-form-field>
                                                
                                           
                                                
                                                
      
                                  </div>
      
                                  <div class="col-md-6 mt-4 mb-5">
      
                                    <p class="headings"> Patient Picture </p>
      <!-- with the web cam below -->
                                    <div *ngIf="activateWebCam">

                                        <webcam [height]="250" [width]="250" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                                       
                                        <div class="snapshot" *ngIf="webcamImage">
                        
                                          <img class="mx-auto d-block rounded text-center" [src]="webcamImage.imageAsDataUrl"/>
                                        </div> 

                                    </div>
                              
                                <!-- With browsing files below -->
                                    <img  *ngIf="browseImage" [src]=" patPicture || originalEmptyImage" alt="..." width="250" height="250" class="mx-auto d-block rounded text-center">
                                    

                                    <div class="row">
                                      
                                      <div class="col text-center mt-2">


                                          <input type="file" *ngIf="browseImage" id="file" name="patPicture" accept="image/*" 
                                    (change)="onSelectFile($event)" (change)="handleFileInput($event.target.files)">

                                      </div>

                                    </div>


                                    <div class="row">
                                        <div class="col text-center mt-2">
      
                                          <button *ngIf="activateWebCam" type="button" class="btn btn-danger btn-sm" (click)="exitCamera()" >Exit Camera</button>

                                    

                                              <button *ngIf="activateWebCamOnce" class="btn btn-primary btn-sm ml-3" (click)="triggerSnapshot();">Take SnapShot</button>

                                              <button *ngIf="browseImage" type="button" class="btn btn-primary btn-sm ml-3" (click)="showWebCam()" >Activate Camera</button>

                                              <button *ngIf="retakeSnapShot" type="button" class="btn btn-dark btn-sm ml-3" (click)="triggerSnapshot();" > Retake SnapShop</button>

                                        </div>
      
         
      
                                    
                                    </div>
                                          <p class="headings"> Next of Kin Details </p>
      
                                          <mat-form-field appearance="outline">
                                                  <mat-label>First Name:</mat-label>
                                                  <input matInput [(ngModel)]="kinFname" >
                                                </mat-form-field>
      
                                                <mat-form-field appearance="outline">
                                                      <mat-label>Surname:</mat-label>
                                                      <input matInput [(ngModel)]="kinSurname" >
                                                    </mat-form-field>
      
                                                    <mat-form-field appearance="outline" class="mat-input-wrapper">
                                                          <mat-label>Relationship:</mat-label>
                                                          <mat-select [(value)]="kinRelationship">
                                                            <mat-option *ngFor="let k of kins" [value]="k.value">
                                                              {{k.value}}
                                                            </mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
      
                                                        <mat-label> Contact Number:</mat-label>
                                                        <form #f="ngForm" [formGroup]="phoneKinForm">
                                                          <div class="mb-2">
                                                            <ngx-intl-tel-input
                                                              [inputId]="'adsasd'"
                                                              [cssClass]="'custom'" 
                                                              [enableAutoCountrySelect]="false" 
                                                              [enablePlaceholder]="true" 
                                                              [searchCountryFlag]="true"
                                                              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                              [selectFirstCountry]="false" 
                                                              [maxLength]="15" 
                                                              [tooltipField]="TooltipLabel.Name" 
                                                              [phoneValidation]="true" 
                                                              [separateDialCode]="separateDialCode"
                                                              name="phone" formControlName="phone">
                                                            </ngx-intl-tel-input>
                                                          </div>
                                                         
                                                        </form>
      
                                                    <mat-form-field appearance="outline">
                                                          <mat-label>Email:</mat-label>
                                                          <input matInput [(ngModel)]="kinEmail" >
                                                        </mat-form-field>
      
                                                        <p class="headings"> Payment Options </p>
      
                                                        <mat-form-field appearance="outline" class="mat-input-wrapper">
                                                            <mat-label>Pay Option:</mat-label>
                                                            <mat-select [(value)]="paymentOptions">
                                                              <mat-option *ngFor="let k of payOption" [value]="k.value">
                                                                {{k.value}}
                                                              </mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
      
      
                                                          <p class="headings"> Next Action </p>
      
                                                          <mat-form-field appearance="outline" class="mat-input-wrapper">
                                                              <mat-label>Going To:</mat-label>
                                                              <mat-select [(value)]="goingDepartment">
                                                                <mat-option *ngFor="let k of nextDepartment" [value]="k.value">
                                                                  {{k.value}}
                                                                </mat-option>
                                                              </mat-select>
                                                            </mat-form-field>
      
      
                                  </div>
      
                                  
      
                              </div>
      
                              <div class="row">
      
                                  <div class="col-md-12 text-center mb-3">
      
                                      <button class="btn btn-success" (click)="savePatDetailsOne()"> Save </button>
      
                                      </div>
      
                                  </div>

                          </mat-tab>

                          <!-- Other details like country-->
                          <mat-tab label="Location and ID">

                              <div class="row">

                                  <div class="col-md-12 mt-3">
                                         <b> <p class="headings"> Other Patient Details Below;</p> </b>
      
                                  </div>
      
                                  <div class="col-md-6 mt-4 mb-5">
      
                                      <p class="headings"> Unique Number </p>
                                          <mat-form-field appearance="outline">
                                                  <mat-label>Patient ID:</mat-label>
                                                  <input matInput disabled [(ngModel)]="patientID" >
                                                </mat-form-field>
      
                                                <p class="headings"> Nationality </p>
                                                <label class="sr-only">Country</label>
                                <mat-select-country appearance="outline" class="mat-input-wrapper"
                                (onCountrySelected)="onCountrySelected($event)">
                                    </mat-select-country>  


      
                                             <p class="headings"> Location Details </p>

                                             <mat-form-field appearance="outline" class="example-full-width">
                                              <mat-label>Address</mat-label>
                                              <textarea matInput [(ngModel)]="patAddress"></textarea>
                                            </mat-form-field>

                                                  <mat-form-field appearance="outline">
                                                    <mat-label>Subcounty/Division:</mat-label>
                                                    <input matInput [(ngModel)]="patFname">
                                                  </mat-form-field>
                                                
                                                  <mat-form-field appearance="outline">
                                                          <mat-label>Parish/Ward:</mat-label>
                                                          <input matInput [(ngModel)]="patSurname">
                                                        </mat-form-field>
      
      
                                                        <mat-form-field appearance="outline">
                                                              <mat-label>Village/Cell:</mat-label>
                                                              <input matInput [(ngModel)]="patMiddleName">
                                                            </mat-form-field>
      
                                                
      
                                                            <mat-form-field appearance="outline">
                                                                  <mat-label>LC1:</mat-label>
                                                                  <input matInput [(ngModel)]="patEmail">
                                                                </mat-form-field>
      
                                                                    
     
                                                          
                                                
                                           
                                                
                                                
      
                                  </div>
      
                                  <div class="col-md-6 mt-4 mb-5">
      
                                    <p class="headings"> ID and Occupation </p>
                                    <mat-form-field appearance="outline">
                                          <mat-label>National ID:</mat-label>
                                          <input matInput type="text" [(ngModel)]="patAge">
                                    </mat-form-field>  
                            

                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Occupation:</mat-label>
                                            <input matInput [(ngModel)]="patAddress">
                                          </mat-form-field>

      
      
                                  </div>
      
                                  
      
                              </div>
      
                              <div class="row">
      
                                  <div class="col-md-12 text-center mb-3">
      
                                      <button class="btn btn-success" (click)="savePatDetailsTwo()"> Save </button>
      
                                      </div>
      
                                  </div>

                            
                          </mat-tab>

                    <!-- For Patient Vitals below -->
                    <mat-tab label="Triage Entry">

                        <div class="row">

                            <div class="col-md-12 mt-3">
                                   <b> <p class="headings"> Triage Entry Below;</p> </b>

                            </div>

                            <div class="col-md-6 mt-4 mb-5">

                                <p class="headings"> Unique Number </p>
                                    <mat-form-field appearance="outline">
                                            <mat-label>Patient ID:</mat-label>
                                            <input matInput disabled [(ngModel)]="patientID" >
                                          </mat-form-field>

                                          <p class="headings"> Severity </p>
                                          <mat-form-field appearance="outline" class="mat-input-wrapper">
                                              <mat-label>Triage Class:</mat-label>
                                              <mat-select [(value)]="goingDepartment">
                                                <mat-option *ngFor="let k of triageClass" [value]="k.value">
                                                  {{k.value}}
                                                </mat-option>
                                              </mat-select>
                                            </mat-form-field>


                            </div>

                            <div class="col-md-6 mt-4 mb-5">



                            </div>

                            

                        </div>

                        <div class="row">

                            <div class="col-md-12 text-center mb-3">

                                <button class="btn btn-success" (click)="savePatDetailsThree()"> Save </button>

                                </div>

                            </div>
                
                      </mat-tab>

                      <mat-tab label="Measurements">

                      </mat-tab>
                        </mat-tab-group>



                    </mat-tab>


                        <!-- For Patient List just below -->
                    <mat-tab label="Patient List ">

                        <div class="row mt-3">

                                <div class="col-md-4 ">
                                        <p class="headings"> Select Patient Department; </p>
                                        <mat-form-field appearance="outline" class="mat-input-wrapper">
                                          <mat-label>Choose Department:</mat-label>
                                          <mat-select [(value)]="patientDepartmentSelect">
                                            <mat-option *ngFor="let p of searchPatient" [value]="p.value">
                                              {{p.value}}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                </div>

                                <div class="col-md-6">

                                        <p class="headings"> Search by ID Below; </p>

                                        <mat-form-field appearance="outline">
                                                <mat-label>Seaching by ID:</mat-label>
                                                <input matInput [(ngModel)]="kinEmail" >
                                              </mat-form-field>

                                </div>

                        </div>
                  
                            <div class="col-md-12 mt-3">
                                    <b> <p class="headings"> List of Patients Below;</p> </b>
 
                             </div>

                            <table class="table">
                                    <thead>
                                      <tr>
                                      
                                        <th scope="col">First Name</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">View/Edit</th>
                                        <th scope="col">Delete</th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th >1</th>
                                        <td scope="row">Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                      </tr>
                                    </tbody>
                                  </table>

                    </mat-tab>

                    <!-- For Patient Visits Below-->
                    <mat-tab label="Patient Visits">
                        <div class="row mt-3">

                            <div class="col-md-4 ">
                                    <p class="headings"> Select Visitation Date; </p>
                                    <mat-form-field  appearance="outline" class="example-full-width">
                                        <mat-label>Visit Date:</mat-label>
                                        <input matInput (dateChange)="visitDateDetection($event)" [matDatepicker]="patientVisitPicker">
                                        <mat-datepicker-toggle matSuffix [for]="patientVisitPicker"></mat-datepicker-toggle>
                                        <mat-datepicker  #patientVisitPicker></mat-datepicker>
                                      </mat-form-field>
                            </div>

                            <div class="col-md-6">

                                    <p class="headings"> Search by ID Below; </p>

                                    <mat-form-field appearance="outline">
                                            <mat-label>Seaching by ID:</mat-label>
                                            <input matInput [(ngModel)]="kinEmail" >
                                          </mat-form-field>

                            </div>

                    </div>
              
                        <div class="col-md-12 mt-3">
                                <b> <p class="headings"> List of Patient Visits Below;</p> </b>

                         </div>

                        <table class="table">
                                <thead>
                                  <tr>
                                  
                                    <th scope="col">First Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">View/Edit</th>
                                    <th scope="col">Delete</th>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th >1</th>
                                    <td scope="row">Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                    </mat-tab>
                  </mat-tab-group>
    </mat-card-content>
            


</mat-card>