.center-align {
    margin-top: 40%;
    text-align: center;
    margin: 0 auto;
    display:flex;
  justify-content:center;
  
}

.container {
  background-color: #fff;
}

.moving {
  margin-top: 40%;
}

