<div class="container">
    <div class="row text-center">

        <div class="center-align">
                <div class="col-md-12">

                    <div class="moving">

                    </div>


                            <mat-form-field appearance="outline">
                                    <mat-label>Email:</mat-label>
                                    <input matInput type="email" [(ngModel)]="email" >
                                  </mat-form-field>
    
                                  <mat-form-field appearance="outline">
                                        <mat-label>Password:</mat-label>
                                        <input matInput type="password" [(ngModel)]="password" >
                                      </mat-form-field>
                                      <p *ngIf="showFieldsError" class="errors"> Please fill in all fields</p>
                                      <p *ngIf="showingErrors" class="errors"> Please login with correct email and password</p>
                                      <p *ngIf="showEmailError" class="errors"> Incorrect email format!!!</p>
                            <button (click)="toLogin()" class="btn btn-success"> Login
                                    <span *ngIf="showloading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                       
            
                    </div>
        </div>
      
    </div>
</div>