<mat-card>

        <mat-card-content>
    
                <mat-tab-group color="accent" backgroundColor="accent" mat-align-tabs="start">

                    <mat-tab label="Staff">
                            <div class="mt-3">
                            
                                </div>
                        <nav>
                            <button class="btn btn-primary"> Add Staff </button>
                        </nav>

                    </mat-tab>

                    <mat-tab label="Departments">

                        <div class="mt-3">

                        </div>
                            <nav>
                                    <button class="btn btn-primary"> Add Department </button>
                                </nav>
                        
                        </mat-tab>

                    </mat-tab-group>

                    </mat-card-content>

                    </mat-card>